/* line 1, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.navbar-style {
  border-bottom: 0.1px solid #999;
}

/* line 5, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.nav-item-style {
  text-decoration: none;
  text-align: center;
  padding-right: 15px;
  color: #20c997;
}

/* line 12, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.nav2 {
  margin-right: auto;
}

/* line 16, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.nav3 {
  margin-right: auto;
}

/* line 19, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.nav {
  float: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 24, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.title_1 {
  line-height: 300px;
  font-size: 48px;
  width: 400px;
  margin-right: 0;
  float: left;
  font-weight: 700 !important;
  height: 300px;
}

/* line 35, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.calender {
  float: right;
  line-height: 300px;
  height: 0px;
}

/* line 41, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.all_wrapper {
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 24px;
  padding-left: 24px;
}

/* line 48, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
a:link {
  color: #484848;
  text-decoration: none;
}

/* line 51, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.show_calender {
  color: white;
}

/* line 55, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.calender_link {
  padding: 18px 35px;
  background-color: #008489;
  border-radius: 5px;
}

/* line 61, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.show_calender {
  font-size: 19px;
}

/* line 65, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.listing_menu {
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  overflow-x: scroll;
  float: left;
  margin-top: -60px;
  font-size: 20px;
}

/* line 75, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.menu_button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0px;
  border-width: 0px;
  border-bottom: 2px;
  cursor: pointer;
  color: #484848;
  border: none;
  margin-right: 10px;
}

/* line 87, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
hr {
  border: 0.5px solid #DCDCDC;
  clear: both;
  display: block;
}

/* line 93, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price_contents_wrapper {
  float: left;
  width: 66.66666666666666% !important;
  margin-top: 15px;
}

/* line 98, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.edit_button {
  float: right;
  display: block;
  padding: 8px 16px;
  color: #008489;
  border-radius: 5px;
  border-color: #008489;
  font-size: 15px;
}

/* line 107, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price_title1 {
  float: left;
  font-size: 28px;
  font-weight: 700 !important;
}

/* line 113, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price_detail_title {
  float: left;
  font-size: 20px;
  color: #484848;
}

/* line 120, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price_detail__button {
  float: right;
  border-style: none;
  font-size: 20px;
  color: #484848;
}

/* line 127, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price1_detail {
  clear: both;
  display: block;
  margin-top: 70px;
}

/* line 133, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price1_detail__1 {
  padding: 20px 0 35px 0;
}

/* line 137, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.each_price_wrapper_2 {
  margin-top: 80px;
}

/* line 141, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_editprice.scss */
.price_footer {
  height: 100px;
}
