/* line 1, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.col-md-3 {
  width: 25%;
  float: left;
}

/* line 6, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.editleft {
  position: absolute;
  top: 90px;
  left: 200px;
}

/* line 13, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* line 18, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.edit-item {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #767676;
}

/* line 25, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.btn {
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  padding: 7px 21px;
  font-size: 14px;
}

/* line 33, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

/* line 39, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.editright {
  position: absolute;
  top: 90px;
  left: 540px;
}

/* line 45, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.required-item-box {
  border: 1px solid #dce0e0;
  width: 770px;
}

/* line 51, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.panel-header {
  width: 768px;
  color: #484848;
  background-color: #edefed;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

/* line 61, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
h9 {
  margin-left: 20px;
}

/* line 65, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.space-4 {
  margin-bottom: 24px;
}

/* line 69, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.gender-select {
  width: 82px;
  height: 39px;
  position: relative;
  top: 20px;
  right: 50px;
}

/* line 77, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
label {
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  position: relative;
  top: 20px;
  right: 50px;
}

/* line 86, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.user_first_name1 {
  width: 541.5px;
  height: 39px;
  position: relative;
  top: 20px;
  right: 50px;
}

/* line 94, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.user_first_name2 {
  width: 541.5px;
  height: 122px;
  position: relative;
  top: 20px;
  right: 50px;
}

/* line 102, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.btn-primary {
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
  margin-top: 20px;
}

/* line 109, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* line 115, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.footer-edit {
  border-top: 0.1px solid #dddddd;
  position: absolute;
  top: 1100px;
}

/* line 121, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.footer-show {
  border-top: 0.1px solid #dddddd;
  position: absolute;
  top: 3800px;
}

/* line 127, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.footer-photo {
  border-top: 0.1px solid #dddddd;
  position: absolute;
  top: 600px;
}

/* line 133, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-title3 {
  font-weight: 700 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 36px !important;
  line-height: 40px !important;
  letter-spacing: -0.6px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  color: #484848 !important;
  position: absolute;
  top: 150px;
  left: 200px;
}

/* line 149, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-button1 {
  position: absolute;
  top: 150px;
  left: 940px;
}

/* line 155, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-button2 {
  cursor: pointer !important;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  width: auto !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  min-width: 77.66563145999496px !important;
  background: transparent !important;
  border-color: #008489 !important;
}

/* line 182, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-button3 {
  webkit-transition: color 0.3s !important;
  -webkit-transition: color 0.3s !important;
  transition: color 0.3s !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #008489 !important;
}

/* line 198, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.my-favorites1 {
  position: absolute;
  top: 300px;
  left: 200px;
}

/* line 204, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.my-favorites4 {
  font-weight: normal !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  display: inline !important;
}

/* line 218, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.my-favorites5 {
  font-weight: normal !important;
  margin-left: 600px;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  display: inline !important;
}

/* line 232, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo3 {
  position: absolute;
  top: 350px;
  left: 200px;
}

/* line 238, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.popular-favorites1 {
  position: absolute;
  top: 600px;
  left: 200px;
}

/* line 244, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo6 {
  position: absolute;
  top: 650px;
  left: 200px;
}

/* line 250, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo9 {
  position: absolute;
  top: 650px;
  left: 570px;
}

/* line 256, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo12 {
  position: absolute;
  top: 650px;
  left: 940px;
}

/* line 262, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo15 {
  position: absolute;
  top: 900px;
  left: 200px;
}

/* line 268, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo18 {
  position: absolute;
  top: 900px;
  left: 570px;
}

/* line 274, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-photo21 {
  position: absolute;
  top: 900px;
  left: 940px;
}

/* line 280, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.favorites-footer {
  font-size: 0.01px;
  color: white;
  position: absolute;
  top: 1150px;
}

/* line 287, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-left {
  border-style: ridge;
  height: 1100px;
  position: absolute;
  top: 80px;
  left: 200px;
}

/* line 295, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-left1 {
  margin: 40px;
}

/* line 299, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-sidebar {
  width: 350px;
}

/* line 303, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-name2 {
  color: #9b9b9b;
}

/* line 307, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-name3 {
  color: #008489 !important;
  font: inherit !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  text-decoration: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  margin: 0px !important;
  padding: 0px !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
  text-align: left !important;
}

/* line 327, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-sidebar3 {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}

/* line 334, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-right {
  position: absolute;
  top: 80px;
  left: 700px;
}

/* line 343, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 354, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  resize: vertical;
  line-height: inherit;
}

/* line 361, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.send-message-textarea {
  width: 489px;
  height: 150px;
}

/* line 366, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat4 {
  background-color: #edefed;
  height: 73px;
  width: 489px;
}

/* line 372, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat5 {
  cursor: pointer;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative;
  left: 290px;
  top: 20px;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  width: auto !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 15px !important;
  line-height: 15px !important;
  letter-spacing: undefined !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #484848 !important;
  font-weight: normal !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  min-width: 51.77708763999664px !important;
  border-color: #484848 !important;
  background: #ffffff !important;
}

/* line 401, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat-main1 {
  height: 94px;
  width: 489px;
  background-color: #edefed;
  position: relative;
  top: 400px;
  left: 700px;
}

/* line 410, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat6 {
  border-style: none;
}

/* line 414, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat7 {
  padding: 20px;
}

/* line 421, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat13 {
  position: absolute;
  left: 1200px;
  top: 400px;
}

/* line 427, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat100 {
  position: absolute;
  left: 1200px;
  top: 80px;
}

/* line 433, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat-main2 {
  height: 94px;
  width: 489px;
  background-color: #edefed;
  position: relative;
  left: 700px;
  top: 500px;
}

/* line 442, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-chat18 {
  position: relative;
  top: 195px;
}

/* line 447, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messages-google {
  text-align: center;
  padding-top: 20px;
  position: absolute;
  left: 800px;
  top: 250px;
}

/* line 455, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.footer-messages {
  position: absolute;
  top: 1200px;
}

/* line 460, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-left {
  width: 750px;
  height: 754px;
  padding: 48px !important;
  float: left;
}

/* line 467, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-left1 {
  border-bottom: 0px !important;
  padding-bottom: 24px !important;
  padding-top: 0px !important;
}

/* line 473, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-left2 {
  font-weight: 700 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 48px !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #484848 !important;
}

/* line 486, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-left4 {
  border-bottom: 0px !important;
  padding-top: 48px !important;
  padding-bottom: 0px !important;
}

/* line 492, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-left5 {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 22px !important;
  line-height: 28px !important;
  letter-spacing: -0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 300 !important;
}

/* line 505, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.messagesnew-right {
  width: 516px;
  height: 754px;
  float: left;
  margin-left: 70px;
}

/* line 512, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.DateInput__input1 {
  width: 400px;
  height: 40px;
}

/* line 517, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.message-new-text {
  font-size: 19px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848 !important;
  font-weight: 300 !important;
  border: 1px solid #DBDBDB !important;
  border-radius: 2px !important;
  padding: 11px !important;
  margin-bottom: 8px !important;
  display: block !important;
  width: 100% !important;
}

/* line 533, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.message-new-text1 {
  cursor: pointer !important;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  width: auto !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  min-width: 77.66563145999496px !important;
  background: #008489 !important;
}

/* line 559, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.message-new-text2 {
  cursor: pointer !important;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  width: auto !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  min-width: 77.66563145999496px !important;
  background: transparent !important;
  border-color: #008489 !important;
}

/* line 586, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.message-new-text3 {
  color: #008489;
}

/* line 590, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.testtest {
  position: absolute;
  top: 900px;
}

/* line 595, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.reservation-text-box {
  border-style: ridge;
  width: 930px;
  position: absolute;
  top: 700px;
  left: 250px;
  height: 200px;
  font-size: 20px;
}

/* line 605, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.reservation-host-message {
  position: absolute;
  top: 650px;
  left: 250px;
  font-size: 20px;
}

/* line 612, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.aaaaaaa {
  position: absolute;
  top: 1200px;
  color: white;
}

/* line 618, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.rooms-search {
  width: 500px;
  height: 36px;
}

/* line 623, /Users/yamazakihiroki/Airbnb/app/assets/stylesheets/_styleEdit.scss */
.display-map {
  float: right;
}
