<!doctype html>
<html>
  <head>
    <title>Airbnb</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/style.scss">
    <script src="assets/style.js"></script>
  </head>

  <header class="header">
    <nav class="navbar fixed-top navbar-white bg-white navbar-style">
      <h1 class="text-danger font-weight-bold">Airbnb</h1>
      <ul class="nav justify-content-end">
        <li class="nav-item nav-item-style">
          <%= link_to 'ルーム登録', "/rooms", method: :post %>
        </li>
        <li class="nav-item nav-item-style">
          <a class="nav-link active" href="#">ホストをはじめる</a>
        </li>
        <li class="nav-item nav-item-style">
          <a class="nav-link" href="#">アカウント作成</a>
        </li>
        <li class="nav-item nav-item-style">
          <a class="nav-link" href="#">ログイン</a>
        </li>
      </ul>
    </nav>
  </header>

 	<body>

	</body>

</html>
