<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="footer-content">
        <div class="footer-role">
          <div class="col-md-3">
            <div class="dropdown">
              <button class="btn-lg dropdown-toggle laguage-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本語</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">English</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn-lg dropdown-toggle money-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本円</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">米ドル</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="intoroduction-content1">
              <div class=" p p-style0">Airbnb<br>
                <br>
                <a>会社情報</a><br>
                <a>採用情報</a><br>
                <a>プレス</a><br>
                <a>ポリシー</a><br>
                <a>ヘルプ</a><br>
                <a>ダイバーシティ＆ビロンギング</a><br>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="intoroduction-content2">
              <div class="p p-style0">スタッフのおすすめ<br>
                <br>
                <a>信頼＆安全</a><br>
                <a>旅行クーポン</a><br>
                <a>Airbnb Citizen</a><br>
                <a>出張</a><br>
                <a>ガイドブック</a><br>
                <a>Airbnbmag </a><br>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="intoroduction-content3">
              <div class="p p-style0">ホスティング<br>
                <br>
                <a>ホストになる理由</a><br>
                <a>ホストに招待</a><br>
                <a>おもてなしの心</a><br>
                <a>ホストの責任</a><br>
                <a>コミュニティセンター</a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="footer-copyright">
            <div class="copyright-left">@Airbnb_Team</div>
            <div class="copyright-right">
              <a>利用規約</a>
              <a>プライバシー</a>
              <a>サイトマップ</a>
              <i class="fa fa-facebook icon-style1" aria-hidden="true"></i>
              <i class="fa fa-twitter icon-style1" aria-hidden="true"></i>
              <i class="fa fa-instagram icon-style1" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
