<div class="footer-copyright">
  <div class="copyright-left">@Airbnb_Team</div>
  <div class="copyright-right">
    <a>利用規約</a>
    <a>プライバシー</a>
    <a>サイトマップ</a>
    <i class="fa fa-facebook icon-style1" aria-hidden="true"></i>
    <i class="fa fa-twitter icon-style1" aria-hidden="true"></i>
    <i class="fa fa-instagram icon-style1" aria-hidden="true"></i>
  </div>
</div>
