<!DOCTYPE html>
<html lang="ja">
	<head>
	</head>
	<body>
		<div id="over">
			<div id="wrap">
				<div id="contents">
					<a id="modal-open">写真を表示</a>
				</div>
			</div>
		</div>
		<div id="modal-content">
			<div id="modal-content-innar">
				<%= render partial: 'rooms/photo_slide' %>
				<a id="modal-close">close</a>
			</div>
		</div>
	</body>
</html>
