<div class="row row-5">
  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="<%= asset_path "image0.jpeg" %>" alt="Card image ca">
      <div class="card-body">
        <p class="card-text font-weight-bold">
          <%= link_to location.room.explanatories[0].title, '/rooms/:id' %>
        </p>
      </div>
    </div>
  </div>
</div>
