<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
    a:link { color:#484848; text-decoration:none }
    </style>
  </head>

  <body>
  	<div class="landing-header">
  		<div class="landing-header-left">
        <div clacc="continue-icon">
  			 <%= render partial: 'rooms/airbnb-icon' %>
        </div>
  		</div>
  		<div class="landing-header-right">
  			<a class="landing-style" href="#">ホスティングのヘルプを頼もう</a>
  			<a class="landing-style" href="#">ホスト</a>
  			<a class="landing-style" href="#">お気にいり</a>
  			<a class="landing-style" href="#">旅行</a>
  			<a class="landing-style" href="#">メッセージ</a>
  			<a class="landing-style" href="#">ヘルプ</a>
  			<div class="avator">
  				<img alt="" height="28" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3" width="28">
  			</div>
  		</div>
  	</div>

  	<div class="landing-content">
  		<div class="landing-left-content">
  			<div class="space">
  				<h2 class="landing-title">
  					<span>だいぶはかどりましたねユーザーさん！</span>
  				</h2>
  				<p class="landing-text-style0">さあ、今度はリスティング掲載用にお部屋の詳しい説明を書きましょう。</p>
  			</div>
  			<div class="landing-step-collection">
  				<div class="landing-text-style1">
  					<span>ベッド数、バスルーム数、アメニティなど</span>
	  				<div class="landing-icon-position">
	  					<i class="fa fa-check-circle fa-3x"></i>
	  				</div>
	  			</div>
	  			<%= link_to '変更する', root_path, class: "landing-text-style2" %>
  			</div>
  			<hr>
  			<div class="landing-step-collection">
  				<strong class="landing-text-style3">ステップ２</strong>
  				<h3 class="landing-subtitle">
  					<span>次に特徴をPR</span>
  				</h3>
  				<div class="landing-text-style1">写真、概要、タイトル</div>
  			</div>
				<%= link_to '続行', new_room_photo_path(@room), class: 'landing-btn' %>
  			<hr>
  			<div class="landing-step-collection">
  				<strong class="landing-text-style3">ステップ３</strong>
  				<h3 class="landing-subtitle">
  					<span>予約準備を整えてフィニッシュ</span>
  				</h3>
  				<div class="landing-text-style1">予約受付設定、カレンダー、料金</div>
  			</div>
  			<hr>
  		</div>
  		<div class="landing-right-content">
        <div class="landing-helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-text text-muted">東京都渋谷区代官山の１ヶ月あたりの収入相場：</p>
              <h2>￥２００,０００</h2>
            </div>
          </div>
        </div>
  		</div>
  	</div>
  </body>
  <%= render partial: 'shared/footer' %>
</html>
