<!doctype html>
<html>
  <head>
    <title>お部屋情報登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
    a:link { color:#ffffff; text-decoration:none }
    </style>
  </head>

  <body>
  	<div class="landing-header">
  		<div class="landing-header-left">
  			<div class="_iiid5y">
          <a class="icon-style0" href="/">
    				<svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height:1em;width:1em;display:block;fill:currentColor">
    					<path d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z">
    					</path>
    				</svg>
          </a>
  			</div>
  		</div>
  		<div class="landing-header-right">
  			<a class="landing-style" href="#">ホスティングのヘルプを頼もう</a>
  			<a class="landing-style" href="#">ホスト</a>
  			<a class="landing-style" href="#">お気にいり</a>
  			<a class="landing-style" href="#">旅行</a>
  			<a class="landing-style" href="#">メッセージ</a>
  			<a class="landing-style" href="#">ヘルプ</a>
  			<div class="avator">
  				<img alt="" height="28" src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3" width="28">
  			</div>
  		</div>
  	</div>

  	<div class="landing-content">
  		<div class="landing-left-content">
  			<div class="space">
  				<h2 class="landing-title">
  					<span>だいぶはかどりましたねユーザーさん！</span>
  				</h2>
  				<p class="landing-text-style0">さあ、今度はリスティング掲載用にお部屋の詳しい説明を書きましょう。</p>
  			</div>
  			<div class="landing-step-collection">
  				<div class="landing-text-style1">
  					<span>ベッド数、バスルーム数、アメニティなど</span>
	  				<div class="landing-icon-position">
	  					<i class="fa fa-check-circle fa-3x"></i>
	  				</div>
	  			</div>
	  			<%= link_to '変更する', root_path, class: "landing-text-style2" %>
  			</div>
  			<hr>
  			<div class="landing-step-collection">
  				<strong class="landing-text-style3">ステップ２</strong>
  				<h3 class="landing-subtitle">
  					<span>次に特徴をPR</span>
  				</h3>
  				<div class="landing-text-style1">写真、概要、タイトル</div>
  			</div>
				<%= link_to '続行', new_room_photo_path(@room), class: 'landing-btn' %>
  			<hr>
  			<div class="landing-step-collection">
  				<strong class="landing-text-style3">ステップ３</strong>
  				<h3 class="landing-subtitle">
  					<span>予約準備を整えてフィニッシュ</span>
  				</h3>
  				<div class="landing-text-style1">予約受付設定、カレンダー、料金</div>
  			</div>
  			<hr>
  		</div>
  		<div class="landing-right-content">
        <div class="landing-helper-content-list">
          <div class="card card-style rounded-0" style="width: 20rem;">
            <img class="card-img-top">
            <div class="card-body">
              <span class="fa fa-lightbulb-o fa-3x text-info" aria-hidden="true"></span><br>
              <p class="card-text text-muted">東京都渋谷区代官山の１ヶ月あたりの収入相場：</p>
              <h2>￥２００,０００</h2>
            </div>
          </div>
        </div>
  		</div>
  	</div>
  </body>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-role">
        <div class="select-content">
          <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle laguage-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本語</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">English</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle money-style rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">日本円</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">米ドル</a>
            </div>
          </div>
        </div>
        <div class="intoroduction-content1">
          <div class=" p p-style0">Airbnb<br>
            <br>
            <a>会社情報</a><br>
            <a>採用情報</a><br>
            <a>プレス</a><br>
            <a>ポリシー</a><br>
            <a>ヘルプ</a><br>
            <a>ダイバーシティ＆ビロンギング</a><br>
          </div>
        </div>
        <div class="intoroduction-content2">
          <div class="p p-style0">スタッフのおすすめ<br>
            <br>
            <a>信頼＆安全</a><br>
            <a>旅行クーポン</a><br>
            <a>Airbnb Citizen</a><br>
            <a>出張</a><br>
            <a>ガイドブック</a><br>
            <a>Airbnbmag </a><br>
          </div>
        </div>
        <div class="intoroduction-content3">
          <div class="p p-style0">ホスティング<br>
            <br>
            <a>ホストになる理由</a><br>
            <a>ホストに招待</a><br>
            <a>おもてなしの心</a><br>
            <a>ホストの責任</a><br>
            <a>コミュニティセンター</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="copyright-left">@Airbnb_Team</div>
      <div class="copyright-right">
        <a>利用規約</a>
        <a>プライバシー</a>
        <a>サイトマップ</a>
        <i class="fa fa-facebook icon-style1" aria-hidden="true"></i>
        <i class="fa fa-twitter icon-style1" aria-hidden="true"></i>
        <i class="fa fa-instagram icon-style1" aria-hidden="true"></i>
      </div>
    </div>
  </footer>

</html>
