.navbar-style {
	border-bottom: 0.1px solid #999;
}

.nav-item-style {
	text-decoration: none;
	text-align: center;
	padding-right: 15px;
	color: #20c997;
}

.message-new-nav {
  height:65px;
}

.message-new-logo {
  float:left;
}

.message-new-step1 {
	font-weight: bold;
  margin-top: 20px;
	float:left;
}

.message-new-step2 {
	font-weight: bold;
  margin-top: 20px;
	float: left;
}
.message-new-step3 {
	color: lightgray;
  margin-top: 20px;
	float: left;
}
a {
	margin-top: 10px;
}
.login {
	margin-top: 18px;
}

.messages-new-left-contents {
  padding-top: 40px;
  width:65%;
  height: 800px;
  float:left;
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		font-weight: bold;
	}
	h1,h2,h3,h4,h6,span {
		margin-left: 120px;
	}
}
.message-new-left1 {
	margin-bottom: 40px;
	span{
		font-size: 18px;
	}
}

.message-new-anyone {
	margin-left: 120px;
}

.message-new-left2 {
	margin-bottom: 10px;
	.message-new-host1 {
		margin-right: 260px;
		float: right;
	}
	textarea {
		margin: 10px 0 0 120px;
	}
}

.message-new-host2 {
	float: right;
}

.message-new-right2 {
	margin: 20px 150px 0 0;
	padding: 15px;
	border: 1px solid;
	h2 {
		margin-left: 60px;
	}
	span{
		font-size: 18px;
	}
}

.message-new-dp-btn {
	background-color: green;
	font-weight: bold;
	color: white;
	margin-left: 120px;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 10px;
}

.message-new-right-contents {
  padding-top: 40px;
  width: 35%;
  height: 800px;
  float: right;
}
.a {
  display: block;
}

.fa-user {
	margin-right: 5px;
}

.fa-calendar-o {
	margin-right: 5px;
}

.message-new-logo2 {
	float: right;
}
