.navbar-style {
	border-bottom: 0.1px solid #999;
}

.nav-item-style {
	text-decoration: none;
	text-align: center;
	padding-right: 15px;
	color: #20c997;
}

.message-new-nav {
  height:65px;
}

.message-new-logo {
  float:left;
}

.message-new-step1 {
	font-weight: bold;
  margin-top: 20px;
	float:left;
}

.message-new-step2 {
	color: lightgray;
  margin-top: 20px;
	float: left;
}
.message-new-step3 {
	color: lightgray;
  margin-top: 20px;
	float: left;
}

.message-new-step4 {
	color: lightgray;
  margin-top: 20px;
	float: left;
}

.message-new-step5 {
	font-weight: bold;
  margin-top: 20px;
	float: left;
}
a {
	margin-top: 10px;
}
.login {
	margin-top: 18px;
}

.messages-new-left-contents {
  padding-top: 40px;
  width:65%;
  height: 800px;
  float:left;
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		font-weight: bold;
	}
	h1,h2,h3,h4,h6,span {
		margin-left: 120px;
	}
}
.message-new-left1 {
	span{
		font-size: 18px;
	}
}

.messages-guest-select {
	width: 290px;
	height: 52px;
	margin-left: 8px;
	margin-right: 8px;
	position: absolute;
	left: 40px;
	top: 285px;
}

label {
    display: block;
    padding-top: 9px;
    padding-bottom: 8px;
    position: relative;
    top: 0px;
    right: 0px;
}

.message-new-anyone {
	margin-left: 120px;
}

.message-new-left2 {
	margin-bottom: 10px;
	position: absolute;
	top: 320px;
	width: 100%;
	.message-new-host1 {
		margin-right: 260px;
		float: right;

	}
	textarea {
		margin: 10px 0 0 120px;
	}
}

.message-new-host2 {
	float: right;
}

.messages-continue {
	cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
		left: 110px;
		top: 380px;
    display: inline-block !important;
    text-align: center !important;
    text-decoration: none !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    font-weight: 700 !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    min-width: 77.66563145999496px !important;
    background: #008489 !important;
}

.messages-continue1 {
	cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
		left: 250px;
		top: 700px;
    display: inline-block !important;
    text-align: center !important;
    text-decoration: none !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    font-weight: 700 !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    min-width: 77.66563145999496px !important;
    background: #008489 !important;
}

.a {
	position: absolute;
	left: 110px;
	top: 400px;
}
.message-new-right2 {
	margin: 20px 150px 0 0;
	padding: 15px;
	border: 1px solid;
	width: 400px;
	h2 {
		margin-left: 60px;
	}
	span{
		font-size: 18px;
	}
}

.message-new-dp-btn {
	background-color: green;
	font-weight: bold;
	color: white;
	margin-left: 120px;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 10px;
}

.message-new-right-contents {
  padding-top: 40px;
  width: 35%;
  height: 800px;
  float: right;
	position: absolute;
	left: 850px;
	top: 20px;
}

.message-new-main-contents {
	padding-top: 40px;
  width: 75%;
  height: 800px;
	position: absolute;
	left: 250px;
	top: 180px;
}
.a {
  display: block;
}

.fa-user {
	margin-right: 5px;
}

.fa-calendar-o {
	margin-right: 5px;
}

.message-new-logo2 {
	float: right;
}
