.message-content-space{
  padding-top: 100px;
}

.message-container_group1 {
  margin: 0 auto;
  padding: 10px 10px 10px 0;
  width: 70%;
  height: 50px;
  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.message-container_change-message{
float:right;
}

.tabbody_wrapper{
  float:right;
}

#tabcontrol a {
   display: inline-block;
   padding: 0.75em 1em;
   text-decoration: none;
   color: black;
   background-color: white;
   font-weight: bold;
   position: relative;
   bottom:10px;
   height:0;
}

#tabcontrol a:hover {
   text-decoration: underline;
}

#tabbody div {
   padding: 1em;
   background-color: white;
   position: relative;
   z-index: 0;
   margin-bottom:20px;
   margin: -1px auto 6px;
}

.detail_footer{
  margin-top:20%;
}


.box_message_each{
display:block;
border: solid 1px;
margin-top:8px;
padding:40px;
border-color: #dce0e0;
color:#484848;
width:70%;
text-align: left;
margin:10px 15% 1px;
}


.box_message_time {
margin-right:100px

}
