.navbar-style {
	border-bottom: 0.1px solid #999;
}

.nav-item-style {
	text-decoration: none;
	text-align: center;
	padding-right: 15px;
	color: #20c997;
}

.nav2{
  margin-right: auto;
}

.nav3{
  margin-right: auto;
}
.nav {
  float: left;
  display: inline-flex;
}
a {
	margin-top: 10px;
}
.login {
	margin-top: 18px;
}

.left-contents {
  padding-top: 100px;
  width:65%;
  height: 800px;
  float:left;
	h1 {
		margin-bottom: 50px;
	}
	h2 {
		font-weight: bold;
	}
	h1,h2,h4,span {
		margin-left: 120px;
	}
}
.left1 {
	margin-bottom: 50px;
	span{
		font-size: 18px;
	}
}
.left2 {
	margin: 0 0 50px 170px;
}
.right2 {
	margin: 20px 100px 10px 0;
	padding: 15px;
	border: 1px solid;
	h2 {
		margin-left: 60px;
	}
}
.overview {
	display:inline-block;
}
td{
	width: 200px;
	font-size: 18px;
}

.right-contents {
  padding-top: 100px;
  width: 35%;
  height: 800px;
  float: right;
}
.a {
  display: block;
}

.footer-contents {
  height: 1000px;
  display: block;
	span {
		font-size: 18px;
	}
}

.foot-title{
	margin-left: 120px;
}
.footer-contents {
	margin-left: 120px;
}

.host-image{
	float: left;
}
.host-overview {
	margin: 20px 0 20px 0;
}

.detail {
	margin: 10px 0 10px 0;
}
.price {
	float: left;
	margin-right: 250px;

}
.calendar {
}
.appeal {
	margin: 10px 0 10px 0;
}

.hint-group {
	float: left;
}

.hint1 {
	float: left;
	width: 30%;
	margin: 10px 10px 10px 0;
	padding: 10px;
	border: 1px solid;
	h4 {
		font-weight: bold;
	}
	span{
		font-size: 18px;
	}
}

.hint2 {
	float: left;
	width: 30%;
	margin: 10px;
	padding: 10px;
	border: 1px solid;
	h4 {
		font-weight: bold;
	}
	span{
		font-size: 18px;
	}
}

.hint3 {
	float:left;
	width: 30%;
	margin: 10px;
	padding: 10px;
	border: 1px solid;
	h4 {
		font-weight: bold;
	}
	span{
		font-size: 18px;
	}
}


.dp-btn {
	padding: 5px 10px;
	border-radius: 10px;
}

.hint-btn {
	background-color: #31B404;
	color: white;
	font-size: 16px;
	margin: 10px;
	padding: 5px 10px;
	border-radius: 10px;
}
