body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.left-box {
  float: left;

}

.navbarfirst {
  height: 51px !important;
    background: #ffffff !important;
    padding-left: 150px !important;
    padding-right: 24px !important;
    width: 100% !important;
    z-index: 3 !important;
    border-bottom: 1px solid #DBDBDB !important;
}


.jumbotron-show {
  background-image: image-url("brick_house.webp");
  height: 400px;
}

.nav-overview {
  border-bottom: 1px solid #CCC;
}

.navbarleft {
  float: left;
}

.navbarright {
  float: left;
  padding-left: 650px;
}

.overview1 {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 17px !important;
    font-weight: 300 !important;
    letter-spacing: 0.2px !important;
}

.overview_btn1 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: undefined;
    padding-top: 0px;
    padding-bottom: 0px;
    color: gray;
    border-style: none;
}

.primarycontent {
  padding-left: 150px;
}

.house_name1 {
  padding-top: 20px;
}

.overview_btn {
  color: #008489;
    font: inherit;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.house_name2 {
  font-weight: 700;
    margin: 0px;
    word-wrap: break-word;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.6px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #484848;
}

.link-reset {
  color: #767676;
}

.profile1 {
    position: relative;
    margin: 0 auto;
}

.conditions {
  display: table-cell;
  vertical-align: top;
}

.mark {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.conditions_text {
  color: #484848;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    margin: 0px;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 300;
    display: inline;
}

.amenities {
  padding-top: 20px;
  .amenity {
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 700 !important;
    display: inline !important;
  }
}

.btn-block {
  display: inline-block;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    width: 600px;
}

.house_text {
  width: 500px;
}

.amenities1 {
  float: left;
  font-size: 18px;
}

.amenities2 {
  float: left;
  margin-left: 150px;
  font-size: 18px;
}

.family-amenity {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  font-weight: 400 !important;
  display: inline !important;
}

.readmore-area {
   display: none;
}

.review-title1 {
  font-weight: 700 !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 28px !important;
    line-height: 32px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #484848 !important;
}

.rating-star1 {
  color: green;
  font-size: 20px;
  padding-left: 15px;
}

.accuracy1 {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    display: inline !important;
}

.reviews {
}

.review-list {
  margin-top: 30px;

}

.review-left {
  float: left;
}

.review-right {
  float: left;
  margin-left: 200px;
}

.reviewer-name2 {
  font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    display: inline !important;
}

.date1 {
  margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 300 !important;
}

.review-text1 {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    border-bottom: 1px solid #CCC;
    padding: 30px;
}

.host-intro {
  font-weight: 700 !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 28px !important;
    line-height: 32px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #484848 !important;
}

.host-review2 {
  float: left;
  border-radius: 6px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
    padding: 6px 9px !important;
    min-width: 28px !important;
    position: relative !important;
    overflow: hidden !important;
    vertical-align: middle !important;
    background: -webkit-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    background: -moz-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    background: linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    line-height: 1.1 !important;
    text-rendering: optimizelegibility !important;
    text-align: center !important;
}

.host-review4 {
  float: left;
  padding-left: 10px;
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    display: inline !important;
}

.host-text {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    display: inline !important;
}

.host-contact1 {
  cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
    display: inline-block !important;
    text-align: center !important;
    text-decoration: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #484848 !important;
    font-weight: normal !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    min-width: 51.77708763999664px !important;
    border-color: #008489 !important;
    background: transparent !important;
}

.host-contact2 {
  -webkit-transition: color 0.3s !important;
    -moz-transition: color 0.3s !important;
    transition: color 0.3s !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 15px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #008489 !important;
}

.language {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    display: inline !important;
}

.language1 {
  font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    display: inline !important;
}

.response {
  color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    display: inline !important;
}

.response1 {
  font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    display: inline !important;
}

.space-top-8 {
    margin-top: 48px;
}

.space-1 {
    margin-bottom: 6px;
}

.space-2 {
    margin-bottom: 12px;
}

.space-3 {
    margin-bottom: 18px;
}

.space-4 {
    margin-bottom: 24px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.text-muted {
    color: #767676;
}

.profile-photo {
  margin-right: 4px !important;
}



.right-box {
  float: left;
  position: absolute;
  left: 880px;
  margin: 0px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #ffffff;


  .reservation {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 700px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    width: 376px;
    height: 450px;
    z-index: 3;
      .price {
        margin: 0px;
      word-wrap: break-word;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.2px;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #484848;
      font-weight: 700;
      display: inline;
      }
      .stay {
        font-weight: normal;
      margin: 0px;
      word-wrap: break-word;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.2px;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #484848;
      display: inline;
      }
      .right-review {
        -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent !important;
      border: 0px !important;
      cursor: pointer !important;
      margin: 0px !important;
      padding: 0px !important;
      -webkit-user-select: auto !important;
      -moz-user-select: auto !important;
      -ms-user-select: auto !important;
      user-select: auto !important;
      vertical-align: bottom !important;
      }
      .review-count {
        font-weight: normal !important;
      margin: 0px !important;
      word-wrap: break-word !important;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
      font-size: 12px !important;
      line-height: 16px !important;
      letter-spacing: 0.4px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      color: #484848 !important;
      display: inline !important;
      }
  }
  form {
    display: block;
margin-top: 0em;
  }
  .date_book {
    font-weight: normal !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
  }
  .DateInput__input {
    width: 326px;
    height: 42px;
  }

  .DateInput1 {
  }

  .DateRangePickerInput__arrow {
    vertical-align: middle;
    fill: #484848;
    height: 24px;
    width: 24px;
    font-size: 15px !important;
    font-weight: 400 !important;
}



  .reserve1 {
    cursor: pointer;
    -webkit-transition: background 0.3s, border-color 0.3s;
    -moz-transition: background 0.3s, border-color 0.3s;
    transition: background 0.3s, border-color 0.3s;
    position: relative;
    top: 60px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: undefined;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #484848;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 77.66563145999496px;
    background: #FF5A5F;
    margin-top: 20px;
  }
  .reserve2 {
    color: white;
  }
  .account1 {
    margin-top: 10px;
  }
}

.footer2 {

}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
