<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Airbnb</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-danger font-weight-bold">Airbnb</h1>
          <h1>ユニークなお家を予約して暮らすような旅をしよう。</h1>
            <div class="input-group">
              <input type="text" name="serach" class="form-control form-control-lg" placeholder="エリアを入力">
              <span class="input-group-btn">
                <button class="btn btn-default btn-danger" type="submit">Search</button>
              </span>
            </div>
          </div>
      </div>

      <h2 class="font-weight-bold">Airbnbで探す</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="images/image0.jpeg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text font-weight-bold">宿泊先</p>
            </div>
          </div>
        </div>
      </div>

    <% content_for :head do %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <h3 class="font-weight-bold">宿泊先</h3>
    <div class="row">

      <div class="scrolloer">
      	<div><img src="assets/image1.jpeg" width="300px" height="200px"></div>
      	<div><img src="assets/image2.jpeg" width="300px" height="200px"></div>
      	<div><img src="assets/image3.jpeg" width="300px" height="200px"></div>
      </div>
      
    </div>

          <!-- <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image1.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ①</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
          <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image2.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ②</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
          <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image3.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ③</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
          <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image4.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ④</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
          <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image5.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ⑤</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
          <div>
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image6.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ⑥</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
      </div> -->

          <!-- <div class="card border-white">
            <div class="card-body-lg">
              <img class="card-img-top" src="images/image1.jpg" alt="Card image cap">
              <h4 class="card-title">イメージ①</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-white">
            <div class="card-body-lg">
              <img class="card-img-top" src="images/image2.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ②</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-white">
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image3.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ③</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card border-white">
            <div class="card-body-lg">
              <img class="card-img-top" src="assets/image4.jpeg" alt="Card image cap">
              <h4 class="card-title">イメージ④</h4>
              <p class="card-text">テスト</p>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div> -->

      <article>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-3 border-white">
              <div class="card-body">
                <h4 class="card-title font-weight-bold">ホスティングで得られる収入をチェック</h4>
                <h5 class="card-text text-xl">空いているお部屋を活用して収入を得よう。</h5>
                <a href="#" class="btn btn-success">詳しくはこちら</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <img class="card-img-top" src="assets/image7.jpeg" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->

</html>
